/* style.css - til dine custom styles */


#hero {
  background-color: azure;
}

#voresis {
  background-color: lightyellow;
}

#tilbud {
  background-color: burlywood;
}

#omos {
  background-color: lavender;
}
