/*Style.css - til dine custom styles*/

#hero {
  background-color: azure;
  background: url(../imgs/storis.jpg);
  min-height: 50vh;
  background-size: cover;
  background-position: center center;
}

.hero-text {
  color: white;
  background-color: hotpink;
  opacity: 0.8;
  width: 80%;
}

/*
#voresis {
  text-align: center;
}

#voresis .col-xs-12 {
  margin-bottom: 2em;
}

#tilbud div {
  margin-bottom: 2em;
}

section {
  padding: 2em 0;
}
*/

/*#hero {
  background-color: red;
}*/
/*
#voresis {
  background-color: lightyellow;
}

#tilbud {
  background-color: burlywood;
}

#omos {
  background-color: lavender;
}
*/
.card {
  background-color: transparent;
}
